@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
.container {
    width: 100%;
    height: 74px;
}

ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.logo {
    float: left;
    font-family: 'Pinyon Script', cursive;
    font-size: 25px;
    font-weight: 900;
}
li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
  }
  
  li a:hover {
    background-color: rgb(93, 126, 187);
  }
